## MARIO LEVEL 1 SPECIFIC

# 0-> small 1->super 2->fire
MARIO_SIZE = 0

# Starting position
X_STARTING = 0
Y_STARTING = 607

# Mario specific physics
TILES_FOR_SPEED_1 = 1
X_SPEED_1 = 5 

TILES_FOR_SPEED_1 = 2
X_SPEED_2 = 6
