# General configuration for mario jumping, etc...

# ----------Jump Animations -------------------

#------------------ Up jump
JumpUpRepetitions = 33

# When we jump max
JumpMaxUpRepetitions = 40

JumpUpDx = 0
JumpUpDy = -4

# Jump frame delay
# Repettiion delay
JumpUpFrameDelay = 10

# --------------------- Down Jump
# Jump Down (Falling)
# Infinite we stop on solid tile
JumpDownRepetitions = 0

JumpDownDx = 0
JumpDownDy = 4

JumpDownFrameDelay = 9


# -----------------------Bounce Jump
# Bounce animation (When hitting goomba/koopa from up)

JumpBounceRepetitions = 24

JumpBounceDx = 0
JumpBounceDy = -4

JumpBounceFrameDelay = 10
