## DUNGEON LEVEL 1 SPECIFIC

# Starting position
X_STARTING = 0
Y_STARTING = 320

# Allow spacebar jump
ENABLE_JUMP = 0

# Movement down yes
ENABLE_DOWN_MOVEMENT = 1

#---------------------------------------------

## PLAYER MOVEMENT

# X SPEED of player for regural moving (A,D)
X_SPEED = 4

#---------------------------------------------

## SOUND OPTIONS

# Overrides (if any)

#---------------------------------------------

## DEBUG OPTIONS

# Map scrolling with arrows speed
X_SCROLL_SPEED = 4

# Clamp player movement to map edges on all sides
CLAMP_TO_MAP_BOUNDS = 1

# Affects only WASD keys not jump 0,1
ENABLE_GRAVITY = 0

# 0 -> Mario center-scroll, 1 -> Free follow
CAMERA_MODE = 1
